<app-slider [nombre]="'Peliculas'"
            [size]="'small'">

</app-slider>
<!-- voy a pasar una variable desde el componente padre que es este al componente slider que es el hijo-->

<div class="center">
    <section id="content">
        <h1 class="subheader">Peliculas</h1>
        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">Pelicula Favorita</h2>
            <h3>{{favorita.titulo |uppercase}}</h3> <!-- |uppercase es un pipe para poner en mayuscula-->
            <h4>{{favorita.year |espar}}</h4>

            {{fecha |date:'dd/MM/yyyy'}}
            
        </div>
        <!-- 
        <h2>{{titulo}}</h2>

        <button (click)="cambiarTitulo()">Pulsame</button>
        <hr>
        <h2> Primera Pelicula</h2>
        {{peliculas[0].titulo}}

        <hr/>
        <h2>Numero de Peliculas</h2>
        <div *ngIf="peliculas.length<=3">
            Hay pocas peliculas
        </div>

        <div *ngIf="peliculas.length>3">
            Hay muchas peliculas
        </div>
        {{peliculas.length}}
        <hr>
    
        <h2 class="subheader">Listado de peliculas</h2>
    -->
        <div id="articles" *ngIf="peliculas">
           <div *ngFor="let pelicula of peliculas; let i=index;">
                <app-pelicula 
                 [pelicula]="pelicula" 
                 (MarcarFavorita)="mostrarfavorita($event)"
                ></app-pelicula> <!-- estoy pasando la variable pelicula a la vista atrves de Input-->
           </div>
           
        </div>
    </section>
    <app-sidebar></app-sidebar>
</div>