<h1 class="subheader">Pagina de pruebas</h1>

<div *ngIf="nombre && apellidos; then siHayParametros else noHayParametros"> <!-- este if permite verfificar que existen datos pasados por parametros-->
    
</div>

<!--
<div *ngIf="!nombre || !apellidos">
    <h2>No hay Parametros por la Url</h2>
</div>
-->
<ng-template #siHayParametros>
        <h2> Mi nombre es : {{nombre}}</h2>
        <h3> Mis apellidos son: {{apellidos}}</h3>
</ng-template>

<ng-template #noHayParametros> <!-- noHayParamentros es el nombre el ng template-->
    <h2>No hay parametros pora la url</h2>
</ng-template>


<button (click)="redireccion()">Muestrame los parametros de la URL</button>